@import 'style/variables';

.CurrencyValue{
    width: 100%;
    display: flex;

    @media (max-width: 767.98px){

        &::before{
            padding-right: 1rem;
            width: 50%;
            flex-shrink: 0;
            content: attr(data-label);
        }
    }
}